{% extends "popcorn/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans "Login page" %}{% endblock %}
{% block content %}
    {% url 'password_reset' as auth_pwd_reset_url %}
    {% url 'django_registration_register' as register_url %}


    <div class="card-deck">
        <div class="col">
            <div class="card p-3 m-3">
                <h2 class="naglowek cstm-shadow">{% trans "Login" context "box title" %}</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {% if not forloop.last %}
                                {% render_field field class="form-control top-buffer inputBox cstm-shadow" placeholder=field.label %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            {% else %}
                                {% for error in form.non_field_errors %}
                                    <span class="error text-danger">{{ error }}</span>
                                {% endfor %}
                                <div class="checkbox mb-3 top-buffer">
                                    {{ field }} {{ field.label_tag }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button class="btn classic-btn cstm-shadow btn-lg btn-block"
                            type="submit">{% trans "Login" context "Login button" %}
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill"
                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                        </svg>
                    </button>
                </form>
                <button class="mt-auto btn classic-btn cstm-shadow btn-lg btn-block" type="submit"
                        onclick="location.href = '{% url 'password_reset' %}'">{% trans "Reset password" %}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="col">
            <div class="card p-3 m-3">
                <h2 class="naglowek cstm-shadow">Nie masz konta?</h2>
                <h5 class="p-4 text-center">Załóż konto już dzisiaj.</h5>
                <button class="mt-auto btn classic-btn cstm-shadow btn-lg btn-block" type="submit"
                        onclick="location.href = '{{ register_url }}'">Zarejestruj się
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    {% if settings.REGISTRATION_OPEN %}
        <p>{% blocktrans %}<a href="{{ register_url }}">Need an account</a>?{% endblocktrans %}</p>
    {% endif %}

{% endblock %}
