{% with id=widget.attrs.id %}
        {% for group, options, index in widget.optgroups %}
            {% if group %}
                <div><p>{{ group }}</p>
                <div class="categories-list-inner" class="btn-group"
                     role="group" aria-label="Basic checkbox toggle button group">
            {% endif %}
        {% for option in options %}
            {% include option.template_name with widget=option %}
        {% endfor %}
        {% if group %}
            </div>
            </div>
        {% endif %}
        {% endfor %}
{% endwith %}
