{% extends "popcorn/base.html" %}
{% load static %}
{% block title %}
    {{ recipe.name }}
{% endblock %}
{% block additional_js %}
    <script src="{% static 'popcorn/js/recipe.js' %}"></script>
    <script src="https://kit.fontawesome.com/19f6d5cbbe.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="card m-5">
        <div class="card-body">
            <div class="col">
                {% if request.user == recipe.author %}
                    <div class="col">
                        <div class="text-right">
                            <a class="btn classic-btn cstm-shadow btn-lg" href=" {% url 'edit_recipe' recipe.slug %}">Edytuj</a>
                        </div>
                    </div>
                {% endif %}
                <h2 class="card-title naglowek my-2 cstm-shadow">{{ recipe.name }}</h2>
                {% if recipe.author %}
                    <h4 class="text-center"><strong>Autor: </strong>{{ recipe.author }}</h4>
                {% else %}
                    <h4 class="text-center"><strong>Autor:</strong> Brak</h4>
                {% endif %}
                <h4 class="text-center"><strong>Czas wykonania:</strong> {{ recipe.preparation_time }} min</h4>
                <h4 class="text-center"><strong>Ilość porcji</strong>: {{ recipe.servings_count }}</h4>
                <h4 class="text-center"><strong>Trudność wykonania:</strong> {{ recipe.get_difficulty_display }}</h4>

                <!--TODO: Add scaling-->
                {% if recipe.icon %}
                    <div class="span3">
                        <img src="{{ recipe.icon.url }}" class="img-fluid rounded mx-auto d-block">
                    </div>
                {% endif %}


                <!--TODO: Add ingredients -->
                <!--TODO: Add voting-->
                <div class="text-center mt-5">
                    {% if user.is_authenticated %}
                        {% if vote_status == 'up' %}
                            <i class="fas fa-arrow-up nav-link vote vote-up" id="recipe-vote-button-up"></i>
                            <i class="fas fa-arrow-down nav-link vote" id="recipe-vote-button-down"></i>
                        {% elif vote_status == 'down' %}
                            <i class="fas fa-arrow-up nav-link vote" id="recipe-vote-button-up"></i>
                            <i class="fas fa-arrow-down nav-link vote vote-down" id="recipe-vote-button-down"></i>
                        {% else %}
                            <i class="fas fa-arrow-up nav-link vote" id="recipe-vote-button-up"></i>
                            <i class="fas fa-arrow-down nav-link vote" id="recipe-vote-button-down"></i>
                        {% endif %}
                    {% else %}
                        <h4>Chcesz głosować? <a href="{% url 'login' %}">Zaloguj się!</a></h4>
                    {% endif %}
                    <h4 class="text-center" id="recipe-vote-count">Głosy: {{ recipe.vote_score }}</h4>

                </div>


                <!--TODO: Add food icon-->
                {{ recipe.content|safe }}
                <br>

                {% if user.is_authenticated %}
                    <form method="post" style="margin-top: 1.3em;">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <div class="col">
                            <div class="text-right">
                                <button type="submit" class="btn classic-btn cstm-shadow btn-lg btn-block">Odpowiedz
                                </button>
                            </div>
                        </div>
                    </form>


                {% else %}
                    <p>Zaloguj się aby mieć możliwość dodawania komentarzy.</p>
                {% endif %}

                <!--TODO: Add comments-->
                <div>
                    {% for c, status in comments %}
                        {% if c.author %}
                            <a><strong>Autor:</strong> {{ c.author }} </a>
                        {% else %}
                            <a><strong>Autor:</strong> [Skasowany] </a>
                        {% endif %}
                        <div class="text" id="comment-vote-count-{{ c.id }}">Głosy: {{ c.vote_score }}</div>
                        {% if user.is_authenticated %}
                            {% if status == 'up' %}
                                <i class="fas fa-arrow-up nav-link vote vote-up"
                                   id="comment-vote-button-up-{{ c.id }}"></i>
                                <i class="fas fa-arrow-down nav-link vote" id="comment-vote-button-down-{{ c.id }}"></i>
                            {% elif status == 'down' %}
                                <i class="fas fa-arrow-up nav-link vote" id="comment-vote-button-up-{{ c.id }}"></i>
                                <i class="fas fa-arrow-down nav-link vote vote-down"
                                   id="comment-vote-button-down-{{ c.id }}"></i>
                            {% else %}
                                <i class="fas fa-arrow-up nav-link vote" id="comment-vote-button-up-{{ c.id }}"></i>
                                <i class="fas fa-arrow-down nav-link vote" id="comment-vote-button-down-{{ c.id }}"></i>
                            {% endif %}
                        {% endif %}
                        <br>
                        <a>{{ c.content|safe }} </a>
                        <hr>
                    {% endfor %}
                </div>

                
            </div>

        </div>
        <div class="card-footer">
            <!--TODO: Add categories -->
            | 
                {% for tag in recipe.categories.all %}
                    <a href={% url 'category' tag.id %}> {{ tag }} </a> |
                {% endfor %}
        </div>
    </div>
{% endblock %}
