{% extends "popcorn/base.html" %}
{% load i18n %}
{% block title %}{% trans "Activation email sent" %}{% endblock %}
{% block content %}
    {% blocktrans %}
    <div class="top-buffer card text-center">
        <div class="card-body">
            <h2 class="card-title">Witaj!</h2>
            <h5 class="card-text">Dziękujemy za rejestrację na portalu popcorn.pl</h5>
            <p>Został juz ostatni krok zanim zaczniesz sprawdzać, nasze kulinarne inspiracje!</p>
            <p>Sprawdź swoją skrzynke e-mail. Nowe smaki czekają na Ciebie!</p>
        </div>
        <div class="card-footer text-muted">
            <h6>Nie dostałeś maila?</h6>
            <a href="#" class="btn btn-warning">Wyślij ponownie</a>
        </div>
    </div>
    {% endblocktrans %}

{% endblock %}

