{% extends "popcorn/base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
    <div class="container top-buffer-big">


        <div class="row">
            <div class="col py-2 d-flex flex-column">
                <form method='post' action=''>
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <h5 class="helptext">{{ field.label }}</h5>
                            {% comment %} {% if form.is_bound %} {% endcomment %}
                            {% if field.errors %}
                                {% render_field field class="form-control inputBox is-invalid" %}
                                {% for error in field.errors %}
                                    <div class="invalid-feedback">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                {% render_field field class="form-control inputBox" %}
                            {% endif %}

                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% comment %} {% endif %} {% endcomment %}
                        </div>
                    {% endfor %}
                    <input class="btn classic-btn cstm-shadow btn-lg btn-block" type="submit" value="Zarejestruj się">
                </form>
            </div>

            <div class="col py-2 d-flex flex-column">
                <img src="{% static 'popcorn/images/logo.png' %}" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
{% endblock %}
